:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
}

header {
    background-color: var(--preto);
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
}

.destaque {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url(/imagens/banner_filme_1_variante.jpg);background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

.texto_destaque {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 40%;
    padding: 100px 0px 0px 100px;
}

.texto_destaque > p {
    margin-top: 20px;
}

.destaque > div {
    margin-top: 40px;
    margin-left: 100px;
}

.botao_destaque {
    background-color: var(--vermelho);
    color: var(--preto);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    font-size: 20px;
}

.botao_destaque:hover {
    background-color: #FFF;
}

.poster_carosel {
    height: 100%;
    width: 100%;
    display: block;
}

.carosel {
    margin-left: 10px;
    font-size: 25px;
}

footer {
    background-color: var(--preto);
    padding: 25px;
}

footer > nav {
    width: 70%;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer > nav > a, footer > nav > p {
    text-decoration: none;
    color: rgb(156, 156, 156);
    margin-top: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 0;
}

.link_cabecalho {
    color: #AAA;
    text-decoration: none;
    font-size: 25px;
    padding-right: 20px;
}

header > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header a:hover {
    color: #FFF;
} 

main {
    background-color: rgb(32, 32, 32);
}

.logo {
    width: 400px;
    color: var(--vermelho);
    font-size: 40px;
    text-decoration: none;
    font-family: 'arial black';
}

a {
    width: 200px;
    padding: 5px 10px;
}
